@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-dropdown > .ant-dropdown-menu {
  padding: 10px 15px;
}
.ant-dropdown > .ant-dropdown-menu > .ant-dropdown-menu-item {
  padding: 5px 10px;
  margin-bottom: 8px;
}
.ant-dropdown > .ant-dropdown-menu > .ant-dropdown-menu-item:hover {
  background-color: #243c5a;
  color: white;
}

@layer components {
  .btn-class {
    @apply bg-theme-color px-4 py-2 text-white font-bold rounded-lg disabled:bg-slate-400 hover:bg-theme-light disabled:cursor-not-allowed;
  }
}
